.progress-container {
  height: fit-content;
  width: fit-content;
}

.circular-progress {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-circle {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: lightgrey;
}

.percentage {
  position: relative;
  font-weight: 500;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
}